* {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  margin: 0;
}

#parallax-foreground p {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  line-height: 40px;
  color: #111;
}

h1 {
  /* text-transform: capitalize; */
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  background-color: rgba(20, 20, 20, 0.8);
  color: #fff;
}

#parallax-background {
  background-image: url('../img/tattoo_1080x1080.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: 100%; */
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.75;

  background-size: cover;
}

#section-2 {
  height: 100px;
  width: 100%;
  background: red;
}

.font-weight-bold {
  font-weight: 700 !important;
}
